# Dependencies
node_modules/

# Build outputs
dist/
build/
out/
release/
.next/
.turbo/
coverage/
*.tsbuildinfo

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.*.local
